{
    "forEach": "apps",
    "filename": "packages/app-{{kebabCase name}}/public/index.html"
}
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{capitalCase name}}</title>
    <meta name="description" content="{{{description}}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <main id="root">
    </main>
    <script src="/index.js"></script>
</body>

</html>