{
    "map": {},
    "filename": "packages/extender-cli/tsconfig.json",
    "formatUsing": "json"
}
---
{
    "compilerOptions": {
        "target": "ES2015",
        "module": "ES2015",
        "moduleResolution": "Node",
        "lib": [
            "ES2015",
            "ES2016",
            "ES2017",
            "ES2018",
            "ES2019",
            "ES2020",
            "ES2021",
            "DOM"
        ],
        "strict": false,
        "noEmitOnError": false,
        "esModuleInterop": true,
        "skipLibCheck": true,
        "allowSyntheticDefaultImports": true,
        "resolveJsonModule": true,
        "outDir": "lib",
        "declaration": true,
        "declarationDir": "types",
        "jsx": "react-native"
    },
    "include": [
        "src/**/*.ts", "src/**/*.tsx",
        "src/**/*.js", "src/**/*.jsx",
        "index.d.ts"
    ],
    "exclude": [
        "node_modules"
    ]
}
