{
    "map": {},
    "filename": "packages/extender-cli/package.json",
    "formatUsing": "json"
}
---
{
    "name": "@{{$.scope}}/extender-cli",
    "description": "CLI for extending this project via AI",
    "version": "{{{$.version}}}",
    "private": true,
    "dependencies": {
        "chalk": "*",
        "@inquirer/prompts": "*"
    },
    "devDependencies": {
        "esbuild": "*",
        "typescript": "*",
        "@types/node": "*"
    },
    "scripts": {
        "build": "esbuild src/index.ts --outfile=dist/index.js --platform=node --sourcemap --target=node20 --format=cjs --bundle --minify",
        "start": "node dist/index.js"
    }
}